<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivan.android.manhattanenglish.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible" >
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.login.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.login.FindPasswordActivity"
            android:label="@string/title_activity_find_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.home.StudentHomeActivity"
            android:label="@string/title_activity_student_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.more.MoreInfoActivity"
            android:label="@string/title_activity_more_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.more.ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.more.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.info.InfomationActivity"
            android:label="@string/title_activity_infomation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.appoint.AppointActivity"
            android:label="@string/title_activity_appoint" >
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.homework.HomeworkActivity"
            android:label="@string/title_activity_homework" >
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.userinfo.StudentInfoActivity"
            android:label="@string/title_activity_student_info" >
        </activity>
        <activity
            android:name="com.ivan.android.manhattanenglish.app.core.course.CourseActivity"
            android:label="@string/title_activity_course" >
        </activity>
    </application>

</manifest>
